/*
 * Copyright 2015 Chen-Yu Tsai
 *
 * Chen-Yu Tsai <wens@csie.org>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun8i-a83t.dtsi"
#include "sunxi-common-regulators.dtsi"

/ {
	model = "Cubietech Cubietruck Plus";
	compatible = "cubietech,cubietruck-plus", "allwinner,sun8i-a83t";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_cubietruck_plus>;

		blue {
			label = "cubietruck_plus:blue:usr";
			gpios = <&pio 3 25 GPIO_ACTIVE_HIGH>; /* PD25 */
		};

		orange {
			label = "cubietruck_plus:orange:usr";
			gpios = <&pio 3 26 GPIO_ACTIVE_HIGH>; /* PD26 */
		};

		white {
			label = "cubietruck_plus:white:usr";
			gpios = <&pio 3 27 GPIO_ACTIVE_HIGH>; /* PD27 */
		};

		green {
			label = "cubietruck_plus:green:usr";
			gpios = <&pio 4 4 GPIO_ACTIVE_HIGH>; /* PE4 */
		};
	};

	usb-hub {
		/* I2C is not connected */
		compatible = "smsc,usb3503";
		pinctrl-names = "default";
		pinctrl-0 = <&usb_hub_control_pins_cubietruck_plus>,
			    <&usb_hub_int_pin_cubietruck_plus>;
		initial-mode = <1>; /* initialize in HUB mode */
		disabled-ports = <1>;
		intn-gpios = <&pio 7 5 GPIO_ACTIVE_HIGH>; /* PH5 */
		reset-gpios = <&pio 4 16 GPIO_ACTIVE_HIGH>; /* PE16 */
		connect-gpios = <&pio 4 17 GPIO_ACTIVE_HIGH>; /* PE17 */
		refclk-frequency = <19200000>;
	};
};

&ehci0 {
	/* GL830 USB-to-SATA bridge here */
	status = "okay";
};

&ehci1 {
	/* USB3503 HSIC USB 2.0 hub here */
	status = "okay";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins_a>, <&mmc0_cd_pin_reference_design>;
	vmmc-supply = <&reg_vcc3v0>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>; /* PF6 */
	bus-width = <4>;
	cd-inverted;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_8bit_pins>;
	vmmc-supply = <&reg_vcc3v0>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	status = "okay";
};

&pio {
	led_pins_cubietruck_plus: led_pins@0 {
		allwinner,pins = "PD25", "PD26", "PD27", "PE4";
		allwinner,function = "gpio_out";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	usb_hub_control_pins_cubietruck_plus: usb_hub_control_pins {
		allwinner,pins = "PE16", "PE17";
		allwinner,function = "gpio_out";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};

	usb_hub_int_pin_cubietruck_plus: usb_hub_int_pin {
		allwinner,pins = "PH5";
		allwinner,function = "irq";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};
};

&r_pio {
	usb2_vbus_pin_cubietruck_plus: usb2_vbus_pin_b {
		allwinner,pins = "PL6";
		allwinner,function = "gpio_out";
		allwinner,drive = <SUN4I_PINCTRL_10_MA>;
		allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
	};
};

&reg_usb1_vbus {
	gpio = <&pio 3 29 GPIO_ACTIVE_HIGH>; /* PD29 */
	status = "okay";
};

&reg_usb2_vbus {
	pinctrl-0 = <&usb2_vbus_pin_cubietruck_plus>;
	gpio = <&r_pio 0 6 GPIO_ACTIVE_HIGH>; /* PL6 */
	status = "okay";
};

&reg_vcc3v3 {
	status = "disabled";
};

&reg_vcc5v0 {
	status = "disabled";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_b>;
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	status = "okay";
};

&usb_otg {
	/* VBUS detection/drive support in PMIC required for OTG */
	dr_mode = "host";
	status = "okay";
};

&usb1_vbus_pin_a {
	allwinner,pins = "PD29";
};
